@import '@fortawesome/fontawesome-free/css/all.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
    .container {
      max-width: none;
      width: 100%;
    }
  
    .grid-cols-3 {
      grid-template-columns: repeat(3, 1fr);
    }

    .print-none {
        display: none;
    }

    .icon {
        border-color: #888;
        color: #bbb;
        background-color: #eee;
        overflow: hidden;
        print-color-adjust: exact;
    }
  }
  